/* Resolucion 1366px x 768px */

:root{
    --cod-gray: #090808;
    --oslo-gray: #939597;
    --rolling-stone: #7B8487;
    --blue-light: #89D7F5;
    --purple-color: #6F009F;
    --dark-purple:#1E003E;
    --raven: #777B84;
    --white: #E5E5E5;
    
    --sm: 1.6rem;
    --md: 2.0rem;
    --lg: 2.4rem;
}
html{
    font-size: 62.5%;
    width: 100vw;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: var(--sm);
}
nav{
    width: 100%;
    padding: 0 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
.navbar-menu{
    margin: 0 4rem;
    padding: 0 2rem;
}
nav ul {
    padding: 0;
    margin: 0;
    height: 6rem;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2.8rem;
}
nav ul a {
    text-decoration: none;
    color: var(--rolling-stone);
}
.banner{
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(at 800px 350px, var(--blue-light) 10%, var(--purple-color) 20%, var(--dark-purple) 70%);
}
figure{
    margin: 0;
    padding: 4rem;
}
.page-section {
    width: 100vw;
    height: 100vh;
}
.banner-picture img{
    width: calc(100vw - 80px);
    height: 100vh;
    object-fit: cover;
}

/* Portafolio */

.portfolio-container{
    width: 100vw;
    height: 100vh;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-purple);
}
.portfolio-container h2{
    text-align: center;
    font-size: var(--lg);
    color: var(--blue-light);
}
.projects{
    padding: 2.8rem;
    margin-top: 4.8rem;
    max-width: calc(100vw - 50rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 3.2rem;
    color: var(--white);
}
.projects div, .projects img{
    border-radius: 50% 50% 50% 5%;
    width: 16rem;
    height: 16rem;
    border: 0.1rem solid var(--cod-gray);
}

/* Contacto */
.contact-container{
    width: 100vw;
    height: 100vh;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-purple);
    align-items: center;
}
.contact-container h3{
    text-align: center;
    font-size: var(--lg);
    color: var(--blue-light);
}
.form-container{
    margin: 4.8rem 20rem;
    padding: 2.8rem;
    gap: 1.4rem;
    display: flex;
    flex-direction: column;
}
.form-container label{
    font-size: var(--md);
    color: var(--white);
}
.form-container textarea, input{
    border-radius: 0.8rem;

}
.button-submit{
    width: 30rem;
    height: 3rem;
    background-color: var(--rolling-stone);
    border: none;
    border-radius: 1rem;
    
}

/* Footer */
.footer-info{
    width: 100%;
    background-color: var(--cod-gray);
    height: 6rem;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-info p{
    font-size: 1rem;
    color: var(--white);
}



