body{
  background-color: #021424;
  color: #F9F9F9;
}

h2 {
  margin: 0;
  text-align: center;
  color:  #F7CC1B;
  font-size: 3.2rem;
}

#root {
  box-sizing: border-box;
  width: 100vw;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 600px) {

}